@font-face {
    font-family: myFont;
    scr:url(Arial\ Bold.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

h1 {
    display: none;
    position: absolute;
    top: 80px;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 5em;
    color: #ffa31a;
    font-family: myFont;

}

.container {
    text-align: center;
}

button {
    padding: 40px 65px;
    border: none;
    outline: none;
    border-radius: 12px;
    margin: 100px;
    font-size: 20px;
    font-family: myFont;
    color: #1b1b1b;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background-color: #ffa31a;
    bottom: -80px;
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #666;
    left: 0;
    top: 0;
    border-radius: 12px;
}

#imageContainer {
    margin-top: 20px;
}

#fullscreen-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}

.button-container {
    display: flex;
}

.img_p {
    height: auto;
    width: 575px;
}