body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 2em;
    color: orange;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

#imageContainer {
    margin-top: 20px;
}

#fullscreen-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}

.button-container {
    display: flex;
}

.img_p {
    height: auto;
    width: 575px;
}